@page "/customerhome/{customerId:int}"
@inject NavigationManager nav

@using Db

<head>
    <PageTitle>CustomerHome</PageTitle>
    <link rel="stylesheet" href="CustomerHome.css" />
    <link rel="icon" href="Images/icon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
</head>
<body>
    <div class="top-section">
        <div class="logo">BEACH BASKET</div>

        <div class="icons">
            <a href="/login"><img src="Images/logout.png" onclick="viewAccount()" style='width: 25px' /> </a>
        </div>
    </div>

    <div class="top-images-container">
        <div class="image">
            <a href="@foodHTMLlink"><img src="Images\image1.jpg" alt="Food"></a>
            <div class="image-description">Food</div>
        </div>
        <div class="image">
            <a href="@essentialsHTMLlink"><img src="Images\image2.jpeg" alt="Beach Essentials"></a>
            <div class="image-description">Beach Essentials</div>
        </div>
    </div>

    <div class="beach-basket-must-shops">
        <h2>Beach Basket Must Shops</h2>
        <div class="must-shops-container" id="must-shops-container">
            @for (int i = 0; i < 5; i++)
            {
                <div class="store">
                    <a href="@($"/customerstore/{@customerId}/{@database.Restaurants[i].RestaurantId}?refresh=true")"><img src="@database.Restaurants[i].Restaurant_img_link" alt="@database.Restaurants[i].RestaurantName"></a>
                    <div class="store-details">
                        <div class="store-name">@database.Restaurants[i].RestaurantName</div>
                    </div>
                </div>
            }
        </div>
    </div>

</body>


<footer>
    <div>
        <h3>Discover Beach Basket</h3>
        <ul>

            <li><a href="#">About us</a></li>

        </ul>
    </div>
    <div>
        <h3>Newsroom</h3>
        <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Cookies</a></li>
        </ul>
    </div>
    <div>
        <h3>Careers</h3>
        <ul>
            <li><a href="#">Restaurant signup</a></li>
            <li><a href="#">Become a rider</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Terms and conditions</a></li>


        </ul>
    </div>
</footer>




@code{
    [Parameter]
    public int customerId { get; set; }

    Customer customer;
    Restaurant curRest;
    string foodHTMLlink;
    string essentialsHTMLlink;
    Database database = new Database();


    protected override void OnInitialized()
    {
        database.ImportData();
        database.AssingData();
        customer = database.Customers.FirstOrDefault(o => o.CustomerId == customerId);

        List<Restaurant> MusthaveRestaurants = new List<Restaurant>();

        for(int i =0; i <3; i++)
        {
            MusthaveRestaurants.Add(database.Restaurants[i]);
        }
        curRest = MusthaveRestaurants[0];
        foodHTMLlink = $"customerfood/{customerId}";
        essentialsHTMLlink = $"customeressentials/{customerId}";
    }

}
