@page "/customeressentials/{customerId:int}"
@using Db
<head>
    <PageTitle>CustomerFood</PageTitle>
    <link rel="stylesheet" href="CustomerFood.css" />
    <link rel="icon" href="Images/icon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
</head>

<div class="top-section">
    <a href="@($"/customerhome/{@customerId}?refresh=true")" class="logo">BEACH BASKET</a>
    <input type="text" id="searchInput" class="search-bar">
    <div class="icons">
        <a href="/login"><img src="Images/logout.png" onclick="viewAccount()" style='width: 25px' /> </a>
    </div>
</div>

<!-- Horizontal menu -->
<nav class="horizontal-menu">
    <ul>
        @foreach (var category in categories)
        {
            <li><a type="button" @onclick="() => FilterByCategory(category)">@category</a></li>
        }
    </ul>
</nav>


@foreach (var zsection in sections)
{
    <section class="@(zsection.CssClass)">
        <h2>@zsection.Title</h2>
        <div class="store-images">
            @foreach (Restaurant restaurant in Mustshops)
            {
                <div class="store">
                    <a href="@($"/customerstore/{@customerId}/{@restaurant.RestaurantId}?refresh=true")"><img src="@restaurant.Restaurant_img_link" alt="@restaurant.RestaurantName"></a>
                    <div class="store-details">
                        <div class="store-name">@restaurant.RestaurantName</div>

                        <div class="store-ratings">
                            @foreach (var _ in Enumerable.Range(0, 5))
                            {
                                <span>&#9733;</span>
                            }
                            @foreach (var _ in Enumerable.Range(0, 5 - 2))
                            {
                                <span>&#9734;</span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}

<footer>
    <div>
        <h3>Discover Beach Basket</h3>
        <ul>
            <li><a href="#">About us</a></li>
        </ul>
    </div>
    <div>
        <h3>Newsroom</h3>
        <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Cookies</a></li>
        </ul>
    </div>
    <div>
        <h3>Careers</h3>
        <ul>
            <li><a href="#">Restaurant signup</a></li>
            <li><a href="#">Become a rider</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Terms and conditions</a></li>
        </ul>
    </div>
</footer>

@code {
    [Parameter]
    public int customerId { get; set; }

    Database database = new Database();
    Customer customer;
    List<Restaurant> Mustshops;
    private class Section
    {
        public string Title { get; set; }
        public string CssClass { get; set; }
        public List<Restaurant> Stores { get; set; }
    }

    private Section[] sections;

    private string[] categories = new string[]
    {
        "Sunglasses", "Flip-Flops", "Beach Towels", "Sunscreen", "Hats", "Bags",
        "Chairs", "Umbrellas", "Swimwear", "Toys", "Snorkeling Gear"
    };

    private void ViewAccount()
    {
        // Implement view account functionality
    }

    private void FilterByCategory(string category)
    {
        if (category == "Burgers")
        {
            Mustshops = new List<Restaurant>
            {
                database.Restaurants[3]
            };
        }
        else if (category == "Iceream")
        {
            Mustshops = new List<Restaurant>
            {
                database.Restaurants[4]
            };
        }
        else if (category == "Beverages")
        {
            Mustshops = new List<Restaurant>
            {
                database.Restaurants[5]
            };
        }
        else
        {
            Mustshops = new List<Restaurant>
            {
            };
        }
    }

    private void currentSlide(int n)
    {
        // Implement current slide functionality
    }

    protected override void OnInitialized()
    {
        database.ImportData();
        database.AssingData();
        customer = database.Customers.FirstOrDefault(o => o.CustomerId == customerId);
        Mustshops = new List<Restaurant>
        {
            database.Restaurants[3],
            database.Restaurants[4],
            database.Restaurants[5]
        };
        sections = new Section[]
        {
            new Section { Title = "Nearby Stores", CssClass = "nearby-stores", Stores = database.Restaurants },
            //new Section { Title = "Most Popular Stores", CssClass = "popular-stores", Stores = popularStores },
            //new Section { Title = "Top Rated Stores", CssClass = "top-rated-stores", Stores = topRatedStores }
        };
    }

}
